#form-singin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
  }
  a {
    font-size: 16;
    font-weight: bold;
    color: #999;
    text-decoration: none;
  }
}
